<html>
  <head>
    <title>Smile Detection</title>
    <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    width: 35%
    }
    h2{
      color: white;
    }
    #img2{
      display: none;
    }
    </style>
  </head>
  <body bgcolor="black">
    <h2 align="center">Smile Detection Demonstration Using Dlib Library Modules</h2>
    <img id="bg" class="center" src="{{ url_for('video_feed') }}">
    
    <div class="container">
      
      <div class="box">
        <span></span>
        <div class="content">
          <img id="img2" src="{{ url_for('get_image') }}">
        </div>
      </div> 
      
    </div>
  </body>
</html>
