<html>
  <head>
    <title>Smile Detection</title>
    <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    width: 35%
    }
    h2{
      color: white;
    }
    #a1{
      margin-left: 600px;
    }
    </style>
  </head>
  <body bgcolor="black">
    <h2 align="center">Smile Detection Demonstration Using Dlib Library Modules</h2>
    <img id="bg" class="center" src="{{ url_for('video_feed') }}">
    <a href="{{ url_for('get_image') }}" id="a1">See the Detected Smile</a>
    
    
    
    
  </body>
</html>
